/*GENERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*MENU-TOP*/

.menu-top{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    height: 50px;
}

.menu-top button{
    background-color: #4A4A4A;
    padding: 5px;
    color: white;
    border-radius: 10px;
    margin: 5px;
}

.menu-top button:hover{
    cursor: pointer;
}

/*MAIN*/

main{
    background-color: rgb(0, 0, 0);
    height: calc(100vh - 130px);
    overflow: auto;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin:  auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 40px;
}

.image{
    width: 14%;
    margin-bottom: 10px;
    margin-right: 3px;
    position: relative;

}

.image img{
    object-fit: cover;
    width: 100%;
}

.user{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color:rgba(100, 112, 125, 0.8);
    color: white;
    padding: 5px;
}

/*ACTION-BAR*/

.action-bar{
    background-color: #222222;
    height: 80px;
    display: inline-block;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.icon{
    display: inline-block;
}

.mike, .video{
    display: inline-block;
}

.icon button span{
    display: block;
}

.icon button{
    color: white;
    background-color:  #222222 ;
    height: 100%;
    border: none;
    padding: 8px;
}

.icon button:hover{
    cursor: pointer;
}

.icon button:first-child .fa-solid{
    font-size: 23px;
    margin-bottom: 10px;
}

.fa-angle-up{
    color: white;
}

.end-meeting button{
    height: 100%;
    color: red;
    background-color: #4A4A4A;
    padding: 0 10px;
    border: none;
}

.end-meeting button:hover{
    cursor: pointer;
    background-color: #a3a3a3;
}